<head>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <footer class="footer-area">
    <div class="footer-wave-box">
      <div class="footer-wave footer-animation">
        
      </div>
    </div>
      <div class="main">
        <div class="footer">
          <div class="single-footer">
            <h4>about us</h4>
            <p>
              Ven-U’s main goal is to create a web application that would be able to provide venues to our users as well as allow businesses that have excess facilities to post their meeting rooms on our online platform to make it available to hire out to other businesses seeking venues.
            </p>
            <div class="footer-social">
              <a href="https://www.facebook.com/putin.vladimir.5015" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/elonmusk" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/echelon_the_goat/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.youtube.com/watch?v=gSNIb4HxEXc" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
          <div class="single-footer">
            <h4>Main Menu</h4>
            <ul>
              <li><a href="home"><i class="fa fa-chevron-right"></i>Home</a></li>
              <li><a href="home"><i class="fa fa-chevron-right"></i>Book</a></li>
              <!-- <li><a href="calendar"><i class="fa fa-chevron-right"></i>Calendar</a></li> -->
              <li><a href="support"><i class="fa fa-chevron-right"></i>Support</a></li>
            </ul>
          </div>
          <div class="single-footer">
            <h4>Quick Links</h4>
            <ul>
              <li><a href=""><i class="fa fa-chevron-right"></i>Privacy Policy</a></li>
              <li><a href=""><i class="fa fa-chevron-right"></i>Terms & Conditions</a></li>
              <li><a href=""><i class="fa fa-chevron-right"></i>Disclaimer</a></li>
            </ul>
          </div>
          <div class="single-footer">
            <h4>Contact Us</h4>
            <ul>
              <li><a><i class="fa fa-map-marker"></i>Totally Plagiarised Road, Kraaifontein, South Africa</a></li>
              <li><a><i class="fa fa-mobile"></i>+27 69 420 8008</a></li>
              <li><a><i class="fa fa-envelope"></i>Ven-U@TheToppHo.com</a></li>
              <li><a><i class="fa fa-globe"></i>www.YouOnlyMadeUsBetter.com</a></li>
            </ul>
          </div>
        </div>
        <div class="copy">
          <p>&copy;Ven-U 2021 all rights reserved</p>
        </div>
      </div>
</footer>
</body>
