

<html>
  <!-- <head>
    <link href = "font\css\font.awesome.css" rel="stylesheet">
  </head> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<!-- Box 1 -->

<div class="box1">
    <div class="imgBx1">
      <!-- <img [src]="myimage1" alt=""> -->
   </div>
   <div class="content1">
     </div>
     
      <div class="media1">
       <ul>
        <h2>Made For You</h2>
         <li><i class="fa fa-briefcase" aria-hidden="true"></i>
          Book or List vacant meeting rooms as either a Business representitive or Organisation.
      </li>
      <br>
         <li><i class="fa fa-handshake-o" aria-hidden="true"></i>
          Ven-U's goal is to provide private meeting facilities to businesses that do not have their own.
      </li>
      <br>
         <li><i class="fa fa-map-marker" aria-hidden="true"></i>
           Search for venues you would like to book in either your immediate vacinity or a location you desire as Ven-U has alot to offer its users.
        </li>
         <br>

         <a href="#" style= text-decoration:none;> Don’t have an account? Sign Up </a>
       </ul>
     </div>
  </div>
  
  <!-- Box 2 -->

  <div class="box2">
    <div class="media2" style="color: white;">
      <ul>
       <h2>Easy To Use
       </h2>
        <li><i class="fa fa-user-circle-o" aria-hidden="true"></i>
         Venu-U was tailored to be easily understood by the user aswell as satisfy each of our client's at the same time.
     </li>
     <br>
        <li><i class="fa fa-bell-o" aria-hidden="true"></i>
       Our Web App will allow for you to see upcoming meetings and remind you of these as well.
     </li>
     <br>
        <li><i class="fa fa-thumb-tack" aria-hidden="true"></i>
         Ven-U can be accessed from any device with a stable internet connection making it easy for employers and employees to keep track and manage their Business.
       </li>
      </ul>
     </div>
   <div class="content2">
      </div>
     
       
       <div class="imgBx2">
         <!-- <img [src]="myimage2" alt=""> -->
         </div>
  </div>

  <!-- CARDS  -->

    <div class ="card" >
      <div class = "card-img":style="background: url('signup.jpg');background-size:cover;"></div>
      <div class = "card-text">
        <h2><a href="#" style= text-decoration:none;>SIGN UP </a></h2>
        <p>If you would like to book a venue click the link above</p>
      </div>
         <div class="card-stats">
           <div class="social border">
            <!-- <i class="fa fa-book" ></i> -->
           </div>
           <div class="social"></div>
         </div>
      </div>
      <br>

<!-- CARD 2 -->

      <div class ="card">
        <div class = "card-img":style="background: url('booknow.jpg');background-size:cover;"></div>
        <div class = "card-text">
          <h2><a href="#" style= text-decoration:none;>BOOK NOW </a></h2>
          <p>If you would like to start using our web sign up now and create an account by clicking the link above</p>
        </div>
           <div class="card-stats">
             <div class="social"></div>
           </div>
        </div>

<!-- CARD 3 -->

        <div class ="card">
          <div class = "card-img":style="background: url('calendar.jpg');background-size:cover;"></div>
          <div class = "card-text">
            <h2><a href="#" style= text-decoration:none;>CALENDAR</a></h2>
            <p>Find a list of your scheduled meeting dates </p>
          </div>
             <div class="card-stats">
               <div class="social"></div>
             </div>
          </div>
  </body>
